
body{
    background-color: #fbdbdb;
}

img {
    max-width: 100%; /* Torna a imagem responsiva */
    height: auto;
    display: block; /* Remove espaços em branco abaixo da imagem */
  }

strong{
    color: red;
}

.copiado {
    color: #00000;
}

.icone {
    color: rgb(65, 186, 0);
    font-weight: bold;
}

